@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#efeeee]
    }
    /* width */
::-webkit-scrollbar {
  width: 4px;

  
}

/* Track */
::-webkit-scrollbar-track {
  
  border-radius: 10px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #28696d; 
  border-radius: 10px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28696d; 
}
}